/*div.dokuwiki div.pubmed{
  border-bottom:solid 1px #CCCCCC;
}
*/

div.pubmed div.long span.authors,
div.pubmed div.long_abstract span.authors{
  font-weight: bold;
}

div.pubmed div.short span.authors{
  font-weight: normal;
  font-style: italic;
}

div.pubmed div.short span.etal{ /* always in short output */
  font-style: inherit;
}

div.pubmed span.journal_iso,
div.pubmed span.journal_title,
div.pubmed span.volume,
div.pubmed span.pages,
div.pubmed span.date{
  margin-left:5px;
  margin-right:5px;
}

div.pubmed span.journal_title{
  font-style:italic;
}

div.pubmed span.journal_iso{
  font-style:italic;
}

div.pubmed div.long span.title,
div.pubmed div.long_abstract span.title, {
  font-weight: bold;
}

div.pubmed span.volume{
  font-weight:bold;
}

div.pubmed a {
  background-image:url(images/pubmed_icon.png);
  background-repeat:no-repeat;
  background-position:left bottom;
  padding-left:48px;
}
div.pubmed span.pmid {
  font-size:80%;
}
div.pubmed span.iso {
}

div.pubmed span.abstract{
  font-size:80%;
  padding-left:20px;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}

