/*
description : Dokuwiki PubMed2020 plugin
author      : Eric Maeker
email       : eric.maeker@gmail.com
lastupdate  : 2020-05-26
license     : Public-Domain
*/
.pubmed .vancouver{
  font-weight: normal;
}

.pubmed .long .authors,
.pubmed .long_tt .authors,
.pubmed .long_abstract .authors,
.pubmed .short span.authors{
  font-weight: normal;
}

.pubmed .short span.etal{ /* always in short output */
  font-style: inherit;
}

.pubmed span.journal_iso,
.pubmed span.journal_title,
.pubmed span.volume,
.pubmed span.pages,
.pubmed span.date{
  margin-left:5px;
  margin-right:5px;
}

.pubmed .journal_title{
  font-style:italic;
}

.pubmed .journal_iso{
  font-style:italic;
}

.pubmed .long .title,
.pubmed .long_tt .title,
.pubmed .long_pdf .title,
.pubmed .long_tt_pdf .title,
.pubmed .long_abstract .title,
.pubmed .long_tt_abstract .title,
.pubmed .long_abstract_pdf .title, 
.pubmed .long_tt_abstract_pdf .title {
  font-weight: bold;
}

.pubmed span.volume{
  font-weight:bold;
}

.pubmed a.pmid  {
  background-image:url(images/pubmed_icon.png);
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:48px;
}
.pubmed a.journal_url {
  background-image:url(images/magazine100.png);
  background-repeat:no-repeat;
  background-position:left center;
  background-size: contain;
  padding-left:1em;
}
.pubmed a.pmc_url {
  background-image:url(images/pmc.png);
  background-repeat:no-repeat;
  background-position:left center;
  background-size: contain;
  padding-left:1em;
}
.pubmed .pmid,
.pubmed .pmcid {
  font-size:80%;
}
.pubmed .iso {
  font-weight: normal;
}

.pubmed .abstract{
  font-size:80%;
  padding-left:20px;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}

